@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Dev @ViewData["Dev"]</p>

<address>
    <strong>More information: </strong> <a href="https://github.com/emersonssantana">github.com</a>
</address>



