@{
    ViewData["Title"] = "Contact";
}

<div class="row">
    <div class="col-12">
        <div class="card p-4 mt-3">
            <h3>@ViewData["Title"]</h3>
            <p>If you are interested in my profile or would like to share experiences about the .NET ecosystem, feel free to get in touch.</p>

            <hr />

            <div class="mt-3">
                <a href="https://www.linkedin.com/in/emersonssantana/" target="_blank" class="btn btn-info">LinkedIn</a>
                <a href="mailto:emersonsouzasantana@outlook.com" class="btn btn-secondary">E-mail</a>
            </div>
        </div>
    </div>
</div>