@{
    ViewData["Title"] = "Welcome";
}


    <h1>@ViewData["Title"]</h1>
    <p> @ViewData["message"]</p>
    <p>Dev @ViewData["Dev"]</p>

<address>
    <strong>More information: </strong> <a href="https://github.com/emersonssantana">github.com/emersonssantana</a>
</address>

